/* Universal Styles */
* {
  font-size: 18px;
  box-sizing: border-box;
}

/* Header */
header {
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 90%;
  margin-left: 24px;
  display: flex;
  align-items: center;
}

.logo img {
  height: 100%;
}

.logo span {
  font-size: 1.8em;
}

.menu {
  margin-right: 24px;
}

.menu a {
  padding-left: 16px;
  text-decoration: none;
  font-size: 1.5em;
}

/* Banner */
.banner {
  background-color: #c0c0c0;
  display: flex;
  align-items: center;
}

.banner-img {
  width: 60%;
  padding: 32px 24px;
}

.banner-img img {
  width: 100%;
}

.banner-text {
  width: 25%;
  margin-left: 24px;
  line-height: 1.2;
}

.banner-text h1 {
  font-size: 3.2em;
  font-weight: bold;
}

.banner-text h4 {
  font-size: 1.7em;
  padding: 20px 0;
  font-weight: bold;
}

.banner-text p {
  background-color: #282525;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100%;
  color: #fff;
  font-size: 1.3em;
  margin-top: 15px;
}

/* Highlights */
.highlights {
  display: flex;
}

.highlight-main {
  width: 60%;
  padding: 32px 24px;
}

.highlight-main img {
  width: 100%;
}

.highlight-main h2 {
  font-size: 2em;
  padding-top: 32px;
  font-weight: bold;
}

.highlight-main p {
  padding-top: 24px;
}

.highlight-scroll {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding-top: 16px;
  padding-bottom: 32px;
  border-left: 1px solid #c0c0c0;
}

.feature {
  display: flex;
  align-items: center;
}

.feature.center {
  border-top: 3px solid #c0c0c0;
  border-bottom: 3px solid #c0c0c0;
}

.feature-img {
  width: 35%;
  height: auto;
  padding: 16px;
}

.feature-img img {
  width: 100%;
}

.feature-text {
  width: 65%;
}

.feature-text h4 {
  font-size: 1.5em;
  font-weight: bold;
}

.feature-text p {
  padding: 8px 0;
  width: 80%;
}

.feature-text a {
  text-decoration: none;
}
