/* Universal Styles */
* {
  font-size: 18px;
  box-sizing: border-box;
}

/* Header */
header {
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 90%;
  margin-left: 24px;
  display: flex;
  align-items: center;
}

.logo img {
  height: 100%;
}

.logo span {
  font-size: 1.8em;
}

.menu {
  margin-right: 24px;
}

.menu a {
  padding-left: 16px;
  text-decoration: none;
  font-size: 1.5em;
}

/* Banner */
.banner {
  background-color: #c0c0c0;
  display: flex;
  align-items: center;
}

.banner-img {
  width: 60%;
  padding: 32px 24px;
}

.banner-img img {
  width: 100%;
}

.banner-text {
  width: 25%;
  margin-left: 24px;
  line-height: 1.2;
}

.banner-text h1 {
  font-size: 3.2em;
}

.banner-text h4 {
  font-size: 1.7em;
  padding: 20px 0;
}

.banner-text p {
  background-color: #282525;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100%;
  color: #fff;
  font-size: 1.3em;
  margin-top: 15px;
}
