/* Universal Styles */


/* Header */
header {
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 32px;
  margin-left: 24px;
  display: flex;
  align-items: center;
}

.logo img {
  height: 100%;
}

.menu {
  margin-right: 24px;
}

.menu a {
  padding-left: 16px;
  text-decoration: none;
}
