/* Universal Styles */
* {
  font-size: 18px;
  box-sizing: border-box;
}

@media only screen and (max-width: 480px) {
  * {
    font-size: 14px;
  }
}

body {
  font-family: "Montserrat", sans-serif;
}
p, h1, h2, h3, h4, a, span {
  color: #282525;
}

/* Header */
header {
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 90%;
  margin-left: 24px;
  display: flex;
  align-items: center;
}

.logo img {
  height: 100%;
}

.logo p {
  font-size: 1.8em;
}

#colmar {
  font-weight: bold;
}

#academy {
  color: #c0c0c0;
}

.menu {
  margin-right: 24px;
}

.menu a {
  padding-left: 16px;
  text-decoration: none;
  font-size: 1.2em;
}

.menu-mobile {
  display: none;
}

/* Smart Phone Media Queries */
@media only screen and (max-width: 480px) {
  .menu,
  .logo {
    display: none
  }

  .menu-mobile {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }

  .menu-icon {
    height: 90%;
  }
}

/* Banner */
.banner {
  background-color: #d3d3d3;
  display: flex;
  align-items: center;
}

.banner-img {
  width: 60%;
  padding: 32px 24px;
}

.banner-img img {
  width: 100%;
}

.banner-text {
  width: 30%;
  margin-left: 24px;
  line-height: 1.2;
}

.banner-text h1 {
  font-size: 3em;
  font-weight: bold;
}

.banner-text h4 {
  font-size: 1.7em;
  padding: 20px 0;
  font-weight: bold;
}

.banner-text p {
  background-color: #282525;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100%;
  color: #fff;
  font-size: 1.3em;
  margin-top: 15px;
}

/* Smart Phone Media Queries */
@media only screen and (max-width: 480px) {
  .banner {
    flex-direction: column;
  }

  .banner-img {
    width: 100%;
    padding: 0;
  }

  .banner-text {
    width: auto;
    margin: 0;
    padding: 32px 16px;
  }

  .banner-text h1 {
    padding-bottom: 32px;
    line-height: 1.3;
    font-size: 2.8em;
  }

  .banner-text h4 {
    padding-top: 0;
    padding-bottom: 24px;
  }

  .banner-text p {
    margin: auto;
    width: auto;
    font-weight: bold;
  }
}

/* Highlights */
.highlights {
  display: flex;
}

.highlight-main {
  width: 60%;
  padding: 32px 24px;
}

.highlight-main img {
  width: 100%;
}

.highlight-main h2 {
  font-size: 2em;
  padding-top: 32px;
  font-weight: bold;
}

.highlight-main p {
  padding-top: 24px;
}

#citation {
  font-size: 0.875em;
}

.highlight-scroll {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding-top: 16px;
  padding-bottom: 32px;
  border-left: 1px solid #d3d3d3;
}

.feature {
  display: flex;
  align-items: center;
}

.feature.center {
  border-top: 3px solid #d3d3d3;
  border-bottom: 3px solid #d3d3d3;
}

.feature-img {
  width: 35%;
  height: auto;
  padding: 16px;
}

.feature-img-mobile {
  display: none;
}

.feature-img img {
  width: 100%;
}

.feature-text {
  width: 65%;
}

.feature-text h4 {
  font-size: 1.5em;
  font-weight: bold;
}

.feature-text p {
  padding: 8px 0;
  width: 80%;
}

.feature-text a {
  text-decoration: none;
  color: #00bfff;
}


/* Smart Phone Media Queries */
@media only screen and (max-width: 480px) {
  .highlight-main {
    display: none;
  }

  .highlight-scroll {
    width: 100%;
  }

  .feature {
    flex-direction: column;
  }

  .feature-img {
    display: none;
  }

  .feature-img-mobile {
    display: block;
    width: 100%;
    padding: 16px;
  }

  .feature-img-mobile img {
    width: 100%;
  }

  .feature-text {
    width: 100%;
    padding: 24px 32px;
    line-height: 1.3;
  }
}

/* Academics */
.academics {
  background-color: #d3d3d3;
}

.academics h1 {
  font-size: 3em;
  font-weight: bold;
  padding-top: 32px;
  text-align: center;
}

.course-grid {
  display: flex;
  flex-wrap: wrap;
  padding: 32px 40px;
  justify-content: center;
}

.course {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 32px;
}

.course-img img {
  width: 100%;
  height: auto;
}

.course-text {
  background-color: #fff;
  padding: 24px;
}

.course-text h4 {
  font-size: 1.5em;
  font-weight: bold;
}

.course-text p {
  padding-top: 8px;
}

.course-mobile {
  display: none;
}

/* Smart Phone Media Queries */
@media only screen and (max-width: 480px) {
  .academics {
    background-color: #fff;
    border: 1px solid #d3d3d3;
    padding-bottom: 32px;
  }

  .academics h1 {
    font-size: 2.7em;
    padding-bottom: 8px;
  }

  .course-grid {
    display: none;
  }

  .course-mobile {
    display: block;
    width: 90%;
    padding: 24px;
    margin: 16px;
    background-color: #d3d3d3;
    font-size: 1.3em;
    font-weight: bold;
  }
}

/* Thesis */
.thesis h1 {
  font-size: 3em;
  font-weight: bold;
  padding-top: 32px;
  text-align: center;
}

.thesis-block {
  display: flex;
}

.thesis-main {
  width: 60%;
  padding: 32px 24px;
}

.thesis-main video {
  width: 100%;
}

.thesis-main h2 {
  font-size: 2em;
  padding-top: 32px;
  font-weight: bold;
}

.thesis-main p {
  padding-top: 24px;
}

.thesis-scroll {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding-top: 16px;
  padding-bottom: 32px;
  border-left: none;
}

.thesis-scroll .feature .feature-text {
  width: 60%;
}

/* Smart Phone Media Queries */
@media only screen and (max-width: 480px) {
  .thesis h1 {
    font-size: 2.7em;
  }

  .thesis-main {
    width: 100%;
    padding: 24px 0;
  }

  .thesis-main h2,
  .thesis-main p {
    display: none;
  }

  .thesis-scroll {
    display: none;
  }
}

/* Footer */
footer {
  display: flex;
  justify-content: space-between;
  padding: 16px 24px;
  border-top: 1px solid #;
  font-size: .875em;
}

.footer-menu a {
  text-decoration: none;
}

/* Smart Phone Media Queries */
@media only screen and (max-width: 480px) {
  .footer-menu {
    display: none;
  }
}
